{% extends 'index.html' %}
{% block devices %}


<!--JSON to change sensor value -->
<script type="text/javascript">
	$(document).ready(function(){
		//connect to the socket server
		namespace ='/test';
		var socket = socket = io.connect('http://' + document.domain + ':' + location.port+ namespace); 
		
		socket.on('connect', function(){
			$("#lecture").text('Connected!');
		});
			
		
		//receive details from server
		socket.on('message', function(msg){
			$("#lecture").text(msg.data);
		});
		
		
		//receive details from server
		socket.on('reading', function(msg){
			//send it to the sensor pin
			$("#sensor"+msg.pin).text(msg.data);

		});
		
		socket.on('redirect', function(msg){
			window.location.href = 'http://' + document.domain + '/'+ msg.device_name;

		});
		
		$('button[type="submit"]').on('click', function(){
			$('form#reading_form').data('button', this.value);
		});
		
		
		$('form#reading_form').submit(function(event) {
			value = $(this).data('button')
                	$("#lecture").text(value);
                	
                	socket.emit('start reading', {data:  value});
                	return false;
            	});
            	
            	
		
	}); //end of document.ready
	
</script>



<body>
<div class="container table-responsive">
	<table class= "table table-hover table-stripped">
	   <tr>
		<label class="col-sm-4 control-label" id="lecture">---</label> 
	   </tr>
	
	
<!-- start of form -->
	<div>
		<form action="{{ url_for('user_command') }}" method="POST">
		  {% for table in tables %}
		    {% if 'O' in table %}
			{% for node in tables[table] %}
				<!--<div class="form-group container">-->
				<tr>
				   <td class="col-sm-1">
    					<label class="control-label">{{ table }}</label>
    				   </td>
    				   <td class="col-sm-1">
    					<div style="width: 100px">
      						<label class="col-sm-1 control-label">{{ node.Pin }}</label>
    					</div>
    				   </td>
    				   <td class="col-sm-2">	
    					<div >
    							<button type="submit" name="but" class="btn btn-success" value="{{ table }} {{ device_address }} {{ node.Pin }} On">On</button>
    							<button type="submit" name="but" class="btn btn-danger" value="{{ table }} {{ device_address }} {{ node.Pin }} Off">Off</button>
    					</div>
    				   </td>
    					
    				   <td>
    				   </td>
    					
    				   <td class="col-sm-3">
    					<div >
    						  <button type="submit" name="but" class="btn btn-warning" value="{{ table }} {{ device_address }} {{ node.Pin }} edit">Edit</button>

    						  <button type="submit" name="but" class="btn btn-danger" value="{{ table }} {{ device_address }} {{ node.Pin }} remove">X
    						  </button>
    						
    					</div>
    					
    					 <input type="checkbox" name="deviceName" value="{{ device_name }}" checked=True hidden=True>
    				   </td>
    				</tr>	
  				<!--</div>end of container -->
			{% endfor %}
		      {% endif %}
		  {% endfor %}
		</form>
		
		<form id="reading_form" method="POST" action='#'>
		{% for table in tables %}
		   {% if 'I' in table %}
		        {% for node in tables[table] %}
		        <tr>
		           <div class="form-group container">
		             <td class="col-sm-1">
		               <label class="control-label">{{ table }}</label>
		             </td>
		             <td class="col-sm-1">
    			          <div  style="width: 100px">
      			             <label class="col-sm-1 control-label">{{ node.Pin }}</label>
      			          </div>
      			      </td>
      			      <td class="col-sm-3">
		             	  <div >
		               		<button type="submit" name="read" id="read-btn" class="btn btn-success" value="{{ table }} {{ device_name }} {{ device_address }} {{ node.Pin }} read">Read</button>
		               
		               		<button type="submit" name="read" id="cancel_read_btn" class="btn btn-danger" value="{{ table }} {{ device_name }} {{ device_address }} {{ node.Pin }} cancel">Cancel</button>
		            	 </div>
		              </td>
		              <td class="col-sm-2">
		             	<div >
					<div id="log div">
    				   		<label class="control-label" name="readings_log" id="sensor{{ node.Pin }}"></label>
    					</div>
    			     	</div>
    			      </td>
    			      <td class="col-sm-3">
    			     	
    			     	<div >
    					<button type="submit" name="but" class="btn btn-warning" value="{{ table }} {{ device_name }} {{ device_address }} {{ node.Pin }} edit">Edit</button>
    						  
    					<button type="submit" name="but" class="btn btn-danger" value="{{ table }} {{ device_name }} {{ device_address }} {{ node.Pin }} remove">X
    						  </button>
    						
    				</div>
    				</td>
    			     	
    			     	
    			     	
		           </div>
			  </tr>
		        {% endfor %}
		     {% endif %}
		 {% endfor %}
				        </form>
	</div>
<!-- end of form -->
</table>
	
	
	
	
	
	
	
	
	
	
	

<!-- Button that fires up the Modal -->
	<div class="container">
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_node_modal">New node</button>
	</div>

</div> <!-- end of container div -->




<!-- Modal -->
	<div class="modal fade" id="new_node_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
      				</div>
      				<div class="modal-body">
      				


<!-- Start the form -->

				<form name="new_node_form" class="form-horizontal" method="post" action="{{ url_for('new_node') }}">
  				  <div class="form-group">
    				    <label for="inputName" class="col-sm-2 control-label">Name</label>
    				    <div class="col-sm-10">
      				      <input type="text" name="inputName" class="form-control" id="inputName" placeholder="Name of the device">
    				    </div>
  				  </div>
  				  <div class="form-group">
    				    <label for="inputPin" class="col-sm-2 control-label">Pin</label>
    					<div class="col-sm-10">
      					  <input type="text" name="inputPin" class="form-control" id="inputPin" placeholder="Target pin">
    					</div>
  				   </div>
  				   
  				   <div class="form-group">
  				     <label for="signal" class="col-sm-2 control-label">Type of Signal</label>
  				     <div class="col-sm-10">
  				       <select name="signal" class="form-control">
  				         <option>Digital Output</option>
  				         <option>Digital Input</option>
  				         <option>Analog Output</option>
  				         <option>Analog Input</option>
  				       </select>
  				     </div>
  				   </div>
  				   
  				   <div class="form-group">
  				   
  			
  				     				    
  				   <input type="checkbox" name="deviceAddress" value="{{ device_address }}" checked=True hidden=True>
  				   <input type="checkbox" name="deviceName" value="{{ device_name }}" checked=True hidden=True>
  				   
  				    <div class="form-group">
    					<div class="col-sm-offset-2 col-sm-10">
      					  <button type="submit" class="btn btn-success">Add</button>
        				  <button type="button" class="btn" data-dismiss="modal">Cancel</button>
    					</div>
  				     </div>
				   </form>			
<!--end of form-->	


      				</div>
    			</div>
  		</div>
	</div>
<!-- end of modal -->
	
	
	
	
	


</body>
	
{% endblock %}