<!DOCTYPE html>
	<head>
		<title>{{ title }}</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        	<link href="static/css/ripples.min.css" rel="stylesheet">
        	<link href="static/css/material-wfont.min.css" rel="stylesheet">
		<link href="static/css/snackbar.min.css" rel="stylesheet">
	</head>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	
    	<!-- Javascript code required for json -->
	<script type="text/javascript">
 		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	
	<!-- plug in required for sockets management -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	
	
<!--start of navigation bar -->
	<body>
		<nav class="navbar navbar-default navbar-inverse" >
  			<div class=" container container-fluid">
    				<!-- Brand and toggle get grouped for better mobile display -->
    				<div class="navbar-header">
      					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      					</button>
      					<a class="navbar-brand" href="/">Home</a>
    				</div>

    				<!-- Collect the nav links, forms, and other content for toggling -->
    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      					<ul class="nav navbar-nav ">
        					<li><a href="/devices">Devices</a></li>
      					</ul>
      					<ul class="nav navbar-nav navbar-right">
      						<li><a href="/">Register</a><li>
      						<li><a href="/">Log in</a></li>
      					<ul>
    				</div><!-- /.navbar-collapse -->
  			</div><!-- /.container-fluid -->
		</nav>
<!-- end of navigation bar -->	

	</body>





<!-- alerts -->
	<body>
		{% if error != "" and error is defined %}
		<div class="container">
			<div id="errorAlert" class="alert alert-danger alert-block fade in">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				
				<p><strong>ERROR!</strong> {{ error }}</p>
			</div>
		</div>
		{% endif %}
		
	</body>
<!-- End of alerts -->


	<body>
	
		{% block main %}
		{% endblock %}
	
		{% block devices %}
  		{% endblock %}
  	
	</body>
	
	
	
	
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <script src="static/js/ripples.min.js"></script>
        <script src="static/js/material.min.js"></script>
        
        <!-- snackbarJS -->
	<script src="static/js/snackbar.min.js"></script>
        
        <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
    	
	
	<!-- Javascript for alerts management -->
	<script type="text/javascript" charset="utf-8">
        	$(function(){
        		$('#alert-success').click(function(e){
        			e.preventDefault();
        			$('#successAlert').slideDown();
        		});
        	});
        </script>
        	
</html>
