{% extends 'index.html' %}
{% block main %}

<body>

	<div class= "container" >
		<div class = "jumbotron">
		  <center>
			<h1>Welcome to your self-built smart home!!</h1>
			<p>Get to know your house and start automating it<p>
			<a href="/devices" class ="btn btn-success">Go</a>
		  <center>
		</div>
	</div>
	
	<div class="container">
		<center>
			<h2><mark>What can you expect from a home automation system?</mark></h2>
		</center>
		<div class="row">
			<div class="col-md-3">
				<h3>Simple to use</h3>
				<p>Once installed the system, simply go to your app or browser via pc, tablet, smarphone...</p>
			</div>
			<div class="col-md-3">
				<h3>Improve comfort</h3>
				<p>Have sets of actions automatised and have full control at your fingertips<p>
			</div>
			<div class="col-md-3">
				<h3>Peace of mind</h3>
				<p>Have you ever had the feeling that you forgot to switch off the lights when leaving the house? Automating your house can solve that problem<p>
			</div>
			<div class="col-md-3">
				<h3>Save money</h3>
				<p>There's the misconception that a "fancy" home automation system costs a fortune, when in fact they are affordable and can save you some money in your monthly gas, water and electricity bills<p>
			</div>
		</div>
	</div>
		
</body>
	
{% endblock %}